<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
     <h1>Welcome {{ user.Full_Name }}!</h1>
    
    <p><strong>Username:</strong> {{ user.Login_name }}</p>
    <p><strong>Email:</strong> {{ user.Email_Address }}</p>
    <p><strong>Phone:</strong> {{ user.Phone_Number }}</p>
    <p><strong>Role:</strong> {{ user.Role }}</p>
    
    <p><a href="/logout">Logout</a></p>
    
</body>
</html>